@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

/* Main Rules */
:root {
    font-size: 16px;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* End Of Main Rules */

/* Main Container And Nav */
.main-container {
    width: 100%;
    max-width: 2000px;
    margin: 60px auto;
    position: relative;
    flex: 1 0 auto;
}

hr {
    color: white;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
}

nav .menu-icon {
    display: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: 2px solid indianred;
    margin: 0;
    padding: 20px;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: indianred;
    font-weight: bold;
    padding: 10px;
    transition: all 300ms ease-in-out;
}

nav ul a:hover {
    background: indianred;
    color: white;
}

nav ul .active {
    background: indianred;
    color: white;
}

/* End Of Main Container And Nav */

/* Footer */
footer {
    display: flex;
    background: #181818;
    width: 100%;
    flex-shrink: 0;
}

footer div {
    padding: 20px 40px;
}

footer div h3 {
    color: aquamarine;
    font-weight: bold;
}

footer p {
    color: white;
}

footer .sitemap {
    flex: 0.5;
}

footer .googlemaps {
    flex: 2;
}

footer .googlemaps iframe {
    width: 100%;
    height: 350px;
}

footer .disclaimer {
    flex: 1;
}

footer .sitemap ul {
    padding: 0;
    list-style-type: none;
}

footer .sitemap ul li {
    margin: 0 0 20px 0;
}

footer .sitemap ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

footer .sitemap ul li a:hover {
    text-decoration: underline;
    margin-left: 10px;
}
/* End Of Footer */

/* Accounts CSS */
.signin-wrapper h1,
.signup-wrapper h1 {
    text-align: center;
}

.signin-wrapper,
.signup-wrapper {
    margin: 50px 0;
}

.signin-wrapper {
    margin-top: 100px;
}

.separator {
    width: 20%;
    height: 5px;
    background: #f0f0f0;
    margin: 60px auto;
}

.signin-wrapper .input-wrapper,
.signup-wrapper .input-wrapper {
    margin: 20px 0;
}

.signin-wrapper form,
.signup-wrapper form {
    width: 50%;
    margin: 0 auto;
    border: 2px solid silver;
    padding: 5px 20px 20px 20px;
    border-radius: 5px;
}

.signin-wrapper form label,
.signin-wrapper form input,
.signin-wrapper form select,
.signup-wrapper form label,
.signup-wrapper form input,
.signup-wrapper form select,
.signup-wrapper form textarea {
    display: block;
    width: 95%;
}

.signin-wrapper form input,
.signin-wrapper form select,
.signup-wrapper form input,
.signup-wrapper form select {
    padding: 5px;
}

.signin-wrapper form label,
.signup-wrapper form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.signin-wrapper .button-wrapper,
.signup-wrapper .button-wrapper {
    text-align: center;
}

.signin-wrapper .button-wrapper button[type="submit"],
.signup-wrapper .button-wrapper button[type="submit"] {
    background: dodgerblue;
    border: none;
    outline: none;
    border-bottom: 3px solid #1380ea;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.signin-wrapper #forgot-button,
.signin-wrapper #resend-button {
    background: transparent;
    border: none;
    outline: none;
    display: block;
    border-radius: 3px;
    padding: 10px 20px;
    color: #656565;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.signin-wrapper #forgot-button {
    margin: 20px auto 0 auto;
}

.signin-wrapper #resend-button {
    margin: 0 auto 20px auto;
}

.signin-wrapper .button-wrapper button[type="reset"],
.signup-wrapper .button-wrapper button[type="reset"] {
    background: #f03c3c;
    border: none;
    outline: none;
    border-bottom: 3px solid #d72f2f;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.signup-wrapper form {
    margin-bottom: 100px;
}

/* End of Accounts CSS */

/* Edit-Profile CSS */
.header {
    margin-top: 60px;
    padding: 0 20px;
}

.header h1 {
    border-bottom: 3px solid black;
    display: inline;
}

.edit-form-wrapper {
    margin-top: 40px;
    padding: 0 20px;
}

.edit-form-wrapper .input-wrapper {
    margin: 20px 0;
}

.edit-form-wrapper form {
    width: 50%;
    border: 2px solid silver;
    padding: 5px 20px 20px 20px;
    border-radius: 5px;
}

.edit-form-wrapper form label,
.edit-form-wrapper form input,
.edit-form-wrapper form select {
    display: block;
    width: 95%;
}

.edit-form-wrapper form input,
.edit-form-wrapper form select {
    padding: 5px;
}

.edit-form-wrapper form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.edit-form-wrapper .button-wrapper {
    text-align: center;
}

.edit-form-wrapper .button-wrapper button[type="submit"] {
    background: dodgerblue;
    border: none;
    outline: none;
    border-bottom: 3px solid #1380ea;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.edit-form-wrapper .button-wrapper button[type="reset"] {
    background: #f03c3c;
    border: none;
    outline: none;
    border-bottom: 3px solid #d72f2f;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.edit-form-wrapper form {
    margin-bottom: 60px;
}

/* End of Edit-Profile CSS */

/* Homepage CSS */
.main-header {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('/images/main.jpeg');
    background-position: center;
    background-size: cover;
}

.main-header .header-wrapper {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-header .header-wrapper h1 {
    background: black;
    color: white;
    padding: 10px 20px;
    font-size: 6em;
    margin: 0;
    width: 720px;
    text-decoration: underline;
}

.main-header .header-wrapper p {
    width: 720px;
    padding: 10px 20px 20px 20px;
    background: black;
    color: white;
    font-weight: bold;
    margin: 0;
}

.descriptions-wrapper h2 {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background: mediumseagreen;
    color: white;
    margin-top: -5px;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 20px 20px 20px;
}
.services-wrapper .service {
    padding: 10px;
    margin-bottom: 40px;
}

.services-wrapper .service button {
    background: dodgerblue;
    border: none;
    outline: none;
    border-bottom: 3px solid #1380ea;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

.services-wrapper .service button:hover {
    cursor: pointer;
}

.service {
    text-align: center;
}

.service h3 {
    text-decoration: underline;
}

.service i {
    font-size: 2em;
}

.service button i {
    font-size: 1em;
}

.offers-intro {
    position: relative;
    margin-bottom: 40px;
}

.offers-intro h2 {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background: indianred;
    color: white;
    margin-top: -5px;
}

.offers-intro img {
    width: 100%;
    height: 400px;
}

.offers-intro-link-wrapper {
    position: absolute;
    bottom: 60px;
    text-align: center;
    width: 100%;
}

.offers-intro-link-wrapper a {
    text-decoration: none;
    background: dodgerblue;
    border: 5px solid dodgerblue;
    border-radius: 5px;
    padding: 20px 40px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.offers-intro-link-wrapper a:hover {
    background: white;
    border: 5px solid dodgerblue;
    color: dodgerblue;
}

.offers-img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conditions-wrapper {
    display: flex;
    margin-top: 40px;
}

.conditions-wrapper div {
    padding: 10px 20px;
}

.conditions-to-host {
    text-align: center;
    padding: 5px 0;
}

.conditions-to-host h1 {
    text-align: center;
    background: black;
    color: white;
    display: inline;
    font-weight: bolder;
    padding: 10px 20px;
    margin: 0;
}

.informations {
    display: flex;
    margin: 60px 0;
    align-items: center;
    padding: 0 20px;
}

.informations h1 {
    flex: 1.5;
    text-align: center;
    margin: 0;
    text-decoration: underline;
    font-size: 3em;
    color: coral;
}

.informations form {
    flex: 1;
    padding: 20px;
    background: #3b48d2;
    border-bottom: 10px solid #2f3ab3;
    border-radius: 5px;
}

.informations form label,
.informations form input,
.informations form select {
    display: block;
}

.informations .input-wrapper {
    margin: 20px 0;
    overflow: hidden;
}

.informations form input,
.informations form select,
.informations form textarea {
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    border: 2px solid silver;
}

.informations label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.informations #captcha-img {
    margin: 10px 10px 0 0;
}

.informations .captcha-image-wrapper {
    display: flex;
    align-items: center;
}

.informations .captcha-image-wrapper #update-captcha {
    font-size: 1.5em;
    margin: 10px 0 0 0;
    color: #7a86ff;
    cursor: pointer;
}

.informations .buttons-wrapper {
    text-align: center;
    margin: 60px 0 0 0;
}

.informations button[type="submit"] {
    background: white;
    padding: 10px 20px;
    color: #3b48d2;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    border-bottom: 3px solid silver;
}

.informations button[type="reset"] {
    background: orangered;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    border-bottom: 3px solid #ae3f16;
}

.information-form-messages-wrapper {
    margin: 30px 0 20px 0;
}

.information-form-messages-wrapper p {
    color: white;
    font-weight: bold;
    text-align: center;
}
/* End of Homepage CSS */

/* Offers CSS */
.header {
    margin-top: 60px;
    text-align: center;
}

.header h1 {
    padding: 20px 40px;
    text-decoration: underline;
}

.offers-main {
    padding: 0 20px;
    margin-top: 60px;
}

.offers-main .wrapper {
    margin-bottom: 60px;
}

.offers-main .offer-holder a {
    text-decoration: none;
    color: inherit;
}

.offers-main .offer-holder i {
    margin-left: 20px;
}

.offers-main .offer-holder h3 {
    background: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
}

.offers-main .offers-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.offers-main .offers-wrapper .offer {
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 10px 6px -6px #989898;
	-moz-box-shadow: 0 10px 6px -6px #989898;
    box-shadow: 0 10px 6px -6px #989898;
    background: #181818;
    padding-bottom: 40px;
}

.offers-main .offers-wrapper .offer img {
    width: 100%;
    height: 400px;
}

.offers-main .offers-wrapper .offer a {
    text-decoration: none;
    color: inherit;
}

.offers-main .offers-wrapper .offer .rating i {
    color: gold;
}

.offers-main .offers-wrapper .offer .title h2 {
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
    width: 80%;
    margin: 20px auto;
}

.offers-main .offers-wrapper .offer .address {
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
    width: 80%;
    margin: 20px auto;
}

.offers-main .offers-wrapper .offer .address p {
    color: lightpink;
}

.offers-main .offers-wrapper .offer .caracteristics
{
    display: flex;
    justify-content: space-evenly;
}

.offers-main .offers-wrapper .offer .caracteristics p {
    color: aquamarine;
}

.offers-main .offers-wrapper .offer .reserved-dates {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.offers-main .offers-wrapper .offer .reserved-dates h3 {
    color: coral;
}

.offers-main .offers-wrapper .offer .reserved-dates table {
    width: 100%;
}

.offers-main .offers-wrapper .offer .reserved-dates table th {
    color: lightblue;
}

.offers-main .offers-wrapper .offer .reserved-dates table td {
    color: white;
}

.offers-main .offers-wrapper .offer .created-at {
    margin: 20px;
    padding: 0 0 60px 0;
}

.offers-main .offers-wrapper .offer .title h2,
.offers-main .offers-wrapper .offer .description p,
.offers-main .offers-wrapper .offer .created-at small {
    color: white;
}

.offers-main .offers-wrapper .offer .offer-actions {
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.offers-main .offers-wrapper .offer .offer-actions a {
    background: dodgerblue;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 3px solid #1e7cd8;
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto;
    display: inline-block;
}

.offers-main .offers-wrapper .offer .offer-actions a i {
    margin-left: 10px;
}

.offers-main .offers-wrapper .offer .price {
    position: absolute;
    top: 0px;
    left: 0;
    background: lightseagreen;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.offers-main .offers-wrapper .offer .rating {
    margin: 20px 0;
}

.offers-main .offers-wrapper .offer .description {
    width: 80%;
    margin: 0 auto;
    border-bottom: 3px solid white;
}

/* End of Offers CSS */

/* Profile CSS */
.user-data-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.user-details {
    margin-top: 60px;
    padding: 20px 40px 20px 20px;
    flex: 2;
}

.services-require {
    padding: 20px;
    display: flex;
}

.services-require .services-require-form-wrapper {
    flex: 2;
}

.services-require .services-require-prices-wrapper {
    flex: 3;
    padding-left: 40px;
    overflow-x: auto;
}

.services-require form {
    margin: 20px 0;
}

.services-require form .input-wrapper {
    margin: 20px 0;
}

.services-require form label {
    font-weight: bold;
}

.services-require form select {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px 0 0 0;
}

.services-require form button[type="submit"] {
    background: dodgerblue;
    border: none;
    outline: none;
    border-bottom: 3px solid #1380ea;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.user-services {
    margin-top: 60px;
    padding: 20px 20px 20px 40px;
    flex: 3;
}

.user-details h1,
.user-services h1,
.services-require h1 {
    text-decoration: underline;
}

.user-services {
    overflow-x: auto;
}

.user-services table,
.services-require-prices-wrapper table {
    border-collapse: collapse;
    width: 100%;
}

.user-services table th,
.services-require-prices-wrapper table th,
.user-services table td,
.services-require-prices-wrapper table td {
    border: 2px solid darkslateblue;
    padding: 5px 10px;
    text-align: center;
}

.user-services table th,
.services-require-prices-wrapper table th {
    background: darkslateblue;
    color: white;
    font-weight: bold;
}

.user-services table th:first-child,
.services-require-prices-wrapper table th:first-child,
.user-services table th:nth-child(2),
.services-require-prices-wrapper table th:nth-child(2),
.user-services table th:nth-child(3),
.services-require-prices-wrapper table th:nth-child(3),
.user-services table th:nth-child(4),
.services-require-prices-wrapper table th:nth-child(4),
.user-services table th:nth-child(5),
.services-require-prices-wrapper table th:nth-child(5),
.user-services table th:nth-child(6),
.services-require-prices-wrapper table th:nth-child(6),
.user-services table th:nth-child(7),
.services-require-prices-wrapper table th:nth-child(7) {
    border-right: 2px solid #352d6b;
}

.user-services table .action i {
    color: #c83737;
}

.user-details .edit-btn,
.user-offers .offers-wrapper .offer .edit-btn {
    background: dodgerblue;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    border-bottom: 3px solid #1f7bd5;
}

.user-details .delete-account-btn,
.user-offers .offers-wrapper .offer .delete-offer-btn {
    background: #e94343;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    border-bottom: 3px solid #c83737;
}

.user-offers {
    padding: 20px;
}

.user-offers h1 {
    text-decoration: underline;
}

.user-offers .offers-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.user-offers .offer a {
    text-decoration: none;
    color: inherit;
}

.user-offers .offer a:visited {
    color: inherit;
}

.user-offers .offers-wrapper .offer {
    padding: 0 20px 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.user-offers .offers-wrapper .offer img {
    width: 100%;
}

.user-offers .offers-wrapper .offer .edit-btn,
.user-offers .offers-wrapper .offer .delete-offer-btn {
    padding: 5px 10px;
    font-size: .8em;
}

.user-offers .offers-wrapper .offer .price {
    position: absolute;
    top: 0px;
    left: 0;
    background: mediumvioletred;
    padding: 10px 18px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.user-offers .offers-wrapper .offer .offer-actions {
    margin-top: 20px;
}

.user-offers .offers-wrapper .offer .created-at {
    margin-top: 20px;
    color: silver;
    font-weight: bold;
}

.register-new-offers {
    padding: 20px;
}

.register-new-offers h1 {
    text-decoration: underline;
}

.register-new-offers form {
    width: 100%;    
}

.register-new-offers form .input-wrapper {
    margin: 20px 0;
}

.register-new-offers form label,
.register-new-offers form input:not([type="checkbox"]),
.register-new-offers form textarea {
    display: block;
    width: 100%;
}

.register-new-offers form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.register-new-offers form .checkboxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register-new-offers form .checkboxes input {
    margin-left: 10px;
}

.register-new-offers form .buttons-wrapper button[type="submit"] {
    background: dodgerblue;
    border: none;
    outline: none;
    border-bottom: 3px solid #1380ea;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.register-new-offers form .buttons-wrapper button[type="reset"] {
    background: #f03c3c;
    border: none;
    outline: none;
    border-bottom: 3px solid #d72f2f;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
/* End of Profile CSS */

.error-wrapper {
    text-align:  center;
}

.form-error {
    color: red;
    font-weight: bold;
    margin-bottom: 0;
}

.form-success {
    color: green;
    font-weight: bold;
    margin-bottom: 0;
}

button:disabled {
    background: silver !important;
    border-bottom: 3px solid #a7a6a6 !important;
}

#register-form-spinner,
#login-form-spinner {
    display: none;
}

/* Spinner - http://tobiasahlin.com/spinkit/ */
.spinner {
    margin: 20px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

.session-wrapper {
    position: fixed;
    z-index: 100;
    background: white;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.session-wrapper p {
    flex: 1;
    margin: 0;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}

.session-wrapper .close {
    margin-right: 10px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    padding-right: 10px;
}

.session-wrapper.error {
    background: #ff3232;
}

.session-wrapper.success {
    background: seagreen;
}

.session-wrapper.info {
    background: #5b64d2;
}

.signout {
    color: indianred;
    cursor: pointer;
}

.reservation-table-wrapper {
    margin-top: 80px;
    padding: 0 20px;
    overflow-x: auto;
}

.reservation-table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid darkslateblue;
    padding: 5px 10px;
    text-align: center;
}

.reservation-table-wrapper table th, 
.reservation-table-wrapper table td {
    border: 2px solid darkslateblue;
    padding: 5px;
    text-align: center;
}

.reservation-table-wrapper table th {
    background: darkslateblue;
    color: white;
}

.reservation-table-wrapper table th:nth-child(1) {
    border-right: 2px solid #352d6b;
}

.reservation-table-wrapper table th:nth-child(1),
.reservation-table-wrapper table th:nth-child(2),
.reservation-table-wrapper table th:nth-child(3),
.reservation-table-wrapper table th:nth-child(4),
.reservation-table-wrapper table th:nth-child(5),
.reservation-table-wrapper table th:nth-child(6),
.reservation-table-wrapper table th:nth-child(7),
.reservation-table-wrapper table th:nth-child(8),
.reservation-table-wrapper table th:nth-child(9),
.reservation-table-wrapper table th:nth-child(10) {
    border-right: 2px solid #352d6b;
}

.reservation-table-wrapper table td img {
    width: 100%;
    max-height: 300px;
}

.reservation-table-wrapper table td #cancel-reservation {
    color: #fe4141;
    cursor: pointer;
}

.reservation-table-wrapper table td #make-reservation {
    color: royalblue;
    cursor: pointer;
}

#entry-date-reservation-form-message-wrapper,
#leave-date-reservation-form-message-wrapper {
    text-align: center;
}

#entry-date-reservation-form-message-wrapper .success,
#leave-date-reservation-form-message-wrapper .success {
    color: #259525;
}

#entry-date-reservation-form-message-wrapper .error,
#leave-date-reservation-form-message-wrapper .error {
    color: #d73f3f;
}

#make-reservation-inputs-wrapper {
    margin: 20px 0 0 0;
}

#make-reservation-inputs-wrapper fieldset legend {
    font-weight: bold;
}

#make-reservation-inputs-wrapper #guest-wrapper {
    margin: 10px 0 0 0;
}


#reservation-days-wrapper {
    margin: 20px 0 10px 0;
}

#info-message-wrapper .info {
    color: #ff5353;
    font-weight: bold;
    text-align: center;
}

#info-message-wrapper .success {
    color: #259525;
    font-weight: bold;
    text-align: center;
}

#cancel-reservation-dialog-confirm,
#delete-account-dialog-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancel-reservation-dialog-confirm i,
#delete-account-dialog-confirm i {
    color: red;
    font-size: 2em;
    flex: 1;
}

#cancel-reservation-dialog-confirm p,
#delete-account-dialog-confirm p {
    font-weight: bold;
    text-align: center;
}

#blocker {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #2a2d2f;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#blocker h1 {
    color: aquamarine;
}

#blocker .spinner > div {
    background: #486967;
}

#edit-account-dialog-form {
    overflow: hidden;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}

.ui-dialog-buttonset {
    float: none !important;
}

#edit-account-form input,
#edit-account-form label {
    display: block;
}

#edit-account-form input {
    width: 95%;
    padding: 5px;
}

#edit-account-form select {
    padding: 5px;
    width: 98%;
}

#edit-account-form .input-wrapper {
    margin: 0 0 20px 0;
}

.edit-form-message-wrapper {
    text-align: center;
    margin: 10px 0 0 0;
}

.edit-form-message-wrapper .error {
    color: #ff5353;
    font-weight: bold;
    text-align: center;
}

#email-forgot {
    margin: 10px 0 0 0;
    width: 95%;
    padding: 5px;
}

.forgot-password-message-wrapper {
    text-align: center;
    margin: 20px 0 5px 0;
}

.forgot-password-message-wrapper p {
    margin: 0;
}

.forgot-password-message-wrapper .error {
    color: #ff5353;
    font-weight: bold;
    text-align: center;
}

.forgot-password-message-wrapper .success {
    color: seagreen;
    font-weight: bold;
    text-align: center;
}

.ui-datepicker-header {
    width: 100% !important;
}

.ui-datepicker-title select {
    width: 45% !important;
    display: inline-block !important;
    margin-left: 5px !important;
}

.guests-form-wrapper .inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
}

.guests-form-wrapper .buttons-wrapper {
    text-align: center;
    margin: 40px 0;
}

.guests-form-wrapper button[type="submit"] {
    background: dodgerblue;
    border: none;
    outline: none;
    border-bottom: 3px solid #1380ea;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.guests-form-wrapper button[type="reset"] {
    background: #f03c3c;
    border: none;
    outline: none;
    border-bottom: 3px solid #d72f2f;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.guests-form-wrapper button[type="button"] {
    background: silver;
    border: none;
    outline: none;
    border-bottom: 3px solid darkgrey;
    border-radius: 3px;
    padding: 10px 20px;
    color: #444;
    font-weight: bold;
}

.guests-form-wrapper .inputs-wrapper label,
.guests-form-wrapper .inputs-wrapper input {
    display: block;
}

.guests-form-wrapper .inputs-wrapper input,
.guests-form-wrapper .inputs-wrapper select {
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
    width: 320px;
}

.guests-form-wrapper .inputs-wrapper label {
    font-weight: bold;
}

.guests-form-wrapper .header-title {
    text-align: center;
    text-decoration: underline;
    margin: 60px 0;
}

#guests-form-messages-wrapper {
    text-align: center;
    margin-top: 40px;
}

#guests-form-messages-wrapper .error {
    font-weight: bold;
    color: #ff5353;
    text-align: center;
}

.ui-widget-overlay {
    background: black !important;
}

.property-info-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-wrapper {
    padding: 40px;
    margin-top: 40px;
}

.property-main-header {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 40px;
}

.property-main-header .title {
    overflow: hidden;
    word-wrap: break-word;
}

.property-main-header .main-photo img {
    width: 100%;
    max-width: 1200px;
    max-height: 600px;
}

.property-wrapper .daily-price-and-reservation-button-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3d415d;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.property-wrapper .daily-price-and-reservation-button-wrapper p {
    margin-left: 40px;
    font-weight: bold;
    color: white;
}

.property-wrapper .daily-price-and-reservation-button-wrapper button {
    margin-right: 40px;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    background: #545eaf;
    border-bottom: 3px solid #373b54;
}

.property-wrapper .property-description {
    text-align: center;
}

.property-wrapper .property-description p {
    font-style: italic;
    width: 75%;
    max-width: 970px;
    margin: 60px auto 40px auto;
    padding: 60px 0;
    border-bottom: 5px solid #eaeaea;
    border-top: 5px solid #eaeaea;
}

.property-wrapper .property-description p i {
    color: silver;
}

.property-wrapper .property-description p i:first-child {
    margin-right: 5px;
}

.property-wrapper .property-description p i:last-child {
    margin-left: 5px;
}

.property-wrapper .property-characteristics {
    text-align: center;
    padding: 0 0 60px 0;
}

.property-wrapper .characteristics-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 0 0;
}

.property-wrapper .property-images {
    text-align: center;
    margin: 60px 0;
    padding: 0 0 60px 0;
}

.property-wrapper .property-images .secundary-photos-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

.property-wrapper .property-images .secundary-photos-wrapper div img {
    width: 100%;
    height: 300px;
}

.property-wrapper .property-city-and-address h1 {
    text-align: center;
}

.property-wrapper .address-and-city-wrapper {
    margin-top: 40px;
    padding: 0 0 60px 0;
}

.property-wrapper .address-and-city-wrapper .address-wrapper {
    height: 600px;
}

.property-wrapper .unavailable-dates {
    margin: 60px 0 0 0;
    text-align: center;
}

.property-wrapper .unavailable-dates table {
    border-collapse: collapse;
    margin: 40px auto 0 auto;
    width: 35%;
    max-width: 400px;
}

.property-wrapper .unavailable-dates table td,
.property-wrapper .unavailable-dates table th {
    border: 2px solid darkslateblue;
    padding: 5px 10px;
    text-align: center;
}

.property-wrapper .unavailable-dates table th {
    background: darkslateblue;
    color: white;
    font-weight: bold;
}

.property-wrapper .unavailable-dates table td i {
    color: silver;
}

.load-more-wrapper {
    text-align: center;
}

.load-more-wrapper i {
    font-size: 2em;
    color: indianred;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.load-more-wrapper i:hover {
    color: #e03636;
}

#loading-more-spinner {
    display: none;
    margin: 0 auto 35px auto;
}

#search {
    padding: 5px;
    border: 2px solid silver;
    border-radius: 3px;
}

#search-wrapper {
    position: absolute;
    top: 60px;
    right: 10%;
    background: gainsboro;
    width: 80%;
    z-index: 10;
    display: none;
    padding: 20px 0;
}

#search-wrapper .input-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto 20px auto;
    justify-content: space-between;
    align-items: center;
}

#search-wrapper .input-wrapper input {
    width: 95%;
    border: 1px solid transparent;
    padding: 10px;
    outline: none;
    transition: all 300ms ease-in-out;
}

#search-wrapper .results-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 35px;
    padding: 20px;
}

#search-wrapper .results-wrapper a {
    text-decoration: none;
    color: inherit;
}

#search-wrapper #close-search {
    color: silver;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

#search-wrapper #close-search:hover {
    color: darkgray;
}

#search-wrapper .results-wrapper .result {
    text-align: center;
    background: white;
    border: 2px solid gainsboro;
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: 0 10px 6px -6px #bbb;
	-moz-box-shadow: 0 10px 6px -6px #bbb;
    box-shadow: 0 10px 6px -6px #bbb;
}

#search-wrapper .results-wrapper .result .photo-wrapper img {
    width: 100%;
    height: 200px;
}

#search-wrapper .results-wrapper .result .price-wrapper p {
    font-weight: bold;
    color: darkslateblue;
}

#search-wrapper .results-wrapper .result .title-wrapper {
    word-wrap: break-word;
}

#search-wrapper .results-wrapper .result .title-wrapper h3 {
    text-decoration: underline;
}

#search-wrapper .results-wrapper .result .characteristics-wrapper {
    display: flex;
    justify-content: space-evenly;
}

#search-wrapper #loading-and-state p {
    text-align: center;
    font-weight: bold;
    color: darkgray;
}

.filter-wrapper {
    margin: 40px 0 0 0;
    text-align: center;
}

.filter-wrapper #filter {
    padding: 10px;
    border: none;
    background: #ececec;
    outline: none;
    border-radius: 5px;
}

#dialog-modal-images .image-wrapper img {
    width: 100%;
}

/* Media Queries */
@media screen and (min-width: 1400px) {

    .offers-main .offers-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }    

}

@media screen and (max-width: 1300px) {

    .property-wrapper .property-images .secundary-photos-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .property-wrapper .property-images .secundary-photos-wrapper div img {
        height: 400px;
    }

}

@media screen and (max-width: 1200px) {

    .guests-form-wrapper .inputs-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .informations {
        flex-direction: column;
    }

    .informations h1 {
        margin-bottom: 40px;
    }

    .informations form {
        width: 80%;
    }

    #search-wrapper {
        right: 0;
        width: 100%;
    }

}

@media screen and (max-width: 1150px) {

    .user-data-wrapper {
        flex-direction: column;
    }

    .user-details,
    .user-services,
    .user-offers h1 {
        text-align: center;
    }

    .user-services {
        border-left: none;
        padding-left: 20px;
    }

    .user-data-wrapper .user-details {
        margin-top: 40px;
    }

    .user-data-wrapper .user-services {
        margin: 20px 0 20px 0;
    }

    .services-require {
        flex-direction: column;
    }

    .services-require .services-require-prices-wrapper {
        padding-left: 0px;
    }

}

@media screen and (max-width: 1060px) {
    
    .user-offers .offers-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-require-form-wrapper .button-wrapper {
        text-align: center;
    }

    .register-new-offers form .buttons-wrapper {
        text-align: center;
    }
}

@media screen and (min-width: 1050px) {

    .offers-intro img {
        height: 500px;
    }

}

@media screen and (max-width: 1045px) {

    .property-wrapper .unavailable-dates table {
        width: 50%;
    }

}

@media screen and (max-width: 1024px) {
    
    .register-new-offers form .checkboxes {
        flex-direction: column;
    }

    .register-new-offers form .checkboxes input {
        float: right;
    }

}

@media screen and (max-width: 1000px) {

    footer {
        flex-direction: column;
    }

    footer ul {
        display: flex;
        justify-content: space-evenly;
    }

    footer div {
        border-bottom: 2px solid #555;
        text-align: center;
    }

    footer div:last-child {
        border-bottom: none !important;
    }

    footer div h3 {
        margin-bottom: 40px;
    }

    footer .sitemap ul li a {
        padding: 10px 20px;
    }

    footer .sitemap ul li a:hover {
        background: white;
        color: #444;
        margin-left: 0;
        text-decoration: none;
    }

    .property-wrapper .property-images .secundary-photos-wrapper div img {
        height: 350px;
    }

}

@media screen and (max-width: 960px) {

    .main-header .header-wrapper h1 {
        font-size: 6em;
        width: 620px;
    }

    .main-header .header-wrapper p {
        width: 620px;
    }

    .services-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .property-main-header {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .property-main-header .title {
        text-align: center;
    }

    .property-wrapper .property-images .secundary-photos-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .property-wrapper .property-images .secundary-photos-wrapper div img {
        height: 300px;
    }

}

@media screen and (max-width: 860px) {

    .main-header .header-wrapper h1 {
        font-size: 4em;
        width: 420px;
    }

    .main-header .header-wrapper p {
        width: 420px;
    }

}

@media screen and (max-width: 800px) {

    .edit-form-wrapper form {
        width: 100%;
    }

}

@media screen and (max-width: 760px) {
    
    .offers-intro-link-wrapper a {
        padding: 10px 20px;
        font-size: 1.5em;
    }

    .offers-intro img {
        height: 250px;
    }

    .offers-intro {
        margin-bottom: 0;
    }

    .conditions-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .conditions-wrapper p {
        width: 45%;
        margin: 0 auto;
        border-bottom: 2px solid silver;
        padding-bottom: 40px;
    }

    .conditions-to-host {
        padding: 0;
    }

    .conditions-to-host h1 {
        display: block;
        margin: 0;
    }

}

@media screen and (max-width: 750px) {

    .user-offers,
    .user-details,
    .user-services,
    .register-new-offers h1,
    .services-require div h1 {
        text-align: center;
    }

    .user-details .button-wrapper {
        margin-top: 40px;
    }

    .user-offers .offers-wrapper .offer {
        padding: 20px 20px 60px 20px;
        margin-bottom: 40px;
        border-bottom: 2px solid whitesmoke;
    }

    .user-offers .offers-wrapper .offer:last-child {
        border-bottom: none;
    }

    .user-offers .offers-wrapper .offer .price {
        top: 20px;
        left: 20px;
    }

    .user-offers .offers-wrapper .offer .offer-actions {
        margin-top: 40px;
    }

}

@media screen and (max-width: 720px) {

    .property-wrapper .property-description p {
        width: 100%;
    }

    .property-wrapper .property-images .secundary-photos-wrapper {
        grid-template-columns: 1fr;
    }

    .property-city-and-address .address-wrapper {
        height: 320px !important;
    }

    .property-wrapper .unavailable-dates table {
        width: 100%;
    }

}

@media screen and (max-width: 660px) {

    .offers-main .offer-holder h3 {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .offers-main .offers-wrapper {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 650px) {

    footer ul {
        flex-direction: column;
    }

}

@media screen and (max-width: 620px) {

    .user-offers .offers-wrapper {
        grid-template-columns: 1fr;
    }

    .services-require-prices-wrapper {
        margin: 40px 0;
    }

    .offers-wrapper .offer:last-child {
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

}

@media screen and (max-width: 600px) {

    nav {
        background: indianred;
        border-bottom: 5px solid #a85353;
    }

    nav .menu-icon {
        display: block;
        padding: 20px;
        color: white;
        font-size: 1.5em;
        float: right;
    }

    nav ul {
        flex-direction: column;
        display: none;
        margin-top: 40px;
        align-items: flex-start;
    }

    nav ul li {
        margin-bottom: 20px;
        width: 100%;
    }

    nav ul li input {
        width: 100%;
    }

    nav ul li:first-child {
        margin-top: 20px;
    }

    nav ul li a {
        color: white;
    }

    nav ul li a:hover {
        background: white;
        color: indianred;
    }

    .separator {
        width: 80%;
    }

    .signin-wrapper form,
    .signup-wrapper form {
        width: 80%;
    }

    #search-wrapper {
        top: 69px;
    }

    #search {
        width: 80% !important;
    }

}

@media screen and (max-width: 520px) {

    .main-header .header-wrapper h1 {
        width: 300px;
    }

    .main-header .header-wrapper p {
        width: 300px;
    }

    .services-wrapper {
        grid-template-columns: 1fr;
    }

    .services-wrapper .service {
        border-bottom: 2px solid silver;
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
    }

    .services-wrapper .service:first-child {
        padding-top: 0px;
    }

    .services-wrapper .service:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

    .offers-intro-link-wrapper a {
        padding: 10px 15px;
        font-size: 1em;
    }

    .tablet-plus-only {
        display: none;
    }

    .offers-img-wrapper {
        grid-template-columns: 1fr;
    }

    .conditions-to-host .service {
        border-bottom: none;
    }

    .conditions-to-host .service p {
        width: 90%;
    }

}

@media screen and (max-width: 480px) {

    #search-wrapper .results-wrapper .result .photo-wrapper img {
        height: 300px;
    }

}